<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Getting Started: Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
.container {
width: 300px;
height: 300px;
border: 5px solid red;
display: flex;
justify-content: center;
align-items: center;
}
button {
background-color: lightblue;
color: black;
font-size: 25px;
}
</style>
</head>

<th:block th:insert="fragments/header.html :: css" />

<body>

<th:block th:insert="fragments/navBar.html :: navBar" />
<div align="center">
    <h6>Do you want to edit your profile data <span sec:authentication="principal.username"></span> ?</h6>


    <form class="form-inline justify-content-center"
          th:href="@{/editUserView}"  >
        <input class="btn btn-danger" type="submit" value="Yes"/>
    </form>

    <br>
    <form class="form-inline justify-content-center"
          th:action="@{/}">
        <input  class="btn btn-outline-secondary" type="submit" value="No"/>
    </form>
</div>
</body>
</html>