<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<th:block th:insert="fragments/header.html :: css" />
<body>
<th:block th:insert="fragments/navBar.html :: navBar" />
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Request form</th>
        <th scope="col">Work brigade</th>
        <th scope="col">Work is completed</th>
    </tr>
    </thead>

    <tr th:each="workPlan : ${workPlans}">
        <td th:text="${workPlan.id}" />
        <td th:text="${workPlan.requestForm}" />
        <td th:text="${workPlan.workBrigade}" />
        <td th:text="${workPlan.work_completed}" />
    </tr>
</table>
</body>
<th:block th:insert="fragments/scripts.html :: js" />
</html>